
@font-face {
  font-family: 'FuturaStd-Bold';
  src:  url('futura_std_bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Book';
  src:  url('Futura-Book.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

