@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Heavy.eot');
    src: url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Heavy.woff') format('woff'),
        url('../fonts/Avenir-Heavy.ttf') format('truetype'),
        url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Medium.eot');
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Medium.woff') format('woff'),
        url('../fonts/Avenir-Medium.ttf') format('truetype'),
        url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

/*********IPAD STYLE **************************/
.ipadScreen{min-height: 100%;}
.ipadScreen .box-top-screen{height:80px; width:100%;}
.ipadScreen .logo-header{margin-top:60px; margin-left:40px; max-width: 200px;}
#vertical{padding:20px 40px; margin-top: 100px;}
#vertical .tweet{padding: 15px 30px; background-color: #eeeeee; margin-bottom: 10px; font-size: 18px;  box-shadow: 1px 1px 1px rgba(0,0,0,0.15); }
.font-helvetica{font-family: Arial, Helvetica, sans-serif;}
.logo-ipad{position: absolute; top: 0px; left:0px; width: 180px; height:auto; z-index: 9;}

/****************SCEEEN STYLE *************/
*{box-sizing: border-box; background-repeat: no-repeat; position: relative; font-family: 'Avenir'; font-weight: 900;}
html, body{margin:0;}
body{background-image: url("../img/screen/bg-bottom-screen.png"); background-position: center 115%; background-size: 100% auto; }
.float-left{float:left;}
.color-blue{color: #01468e;}
.color-yellow{color: #fbb90b;}
.color-cyano{color: #007fb6;}
.bg-blue{background-color: #01468e;}
.bg-yellow{background-color: #fbb90b;}
.bg-cyano{background-color: #007fb6;}
.bg-grey{background-color: #ccc;}
.box-top-screen{height:160px; width:100%;}
.logo-header{margin-top:125px; margin-left:155px; max-width: 350px;}
.row-duello{display: table; width: 100%; padding-top: 210px;}
.box-question-duello{width:55%; min-height:450px; padding-left:155px; padding-right: 50px; border-right: 10px solid #d9d8d6; }
.box-question-duello p{
    font-size: 48px; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    margin: 0; 
    font-weight: 500; 
    line-height: 1.4;
    padding-right:50px;
}
.box-balance{width:45%; }
.balance-img{min-height:450px; background-image: url("../img/screen/balance.png"); background-size: 100% auto; background-position: center bottom;}
.bar-balance{
    background-color:#ececec; 
    border: 8px solid #c6c6c6; 
    height:55px;
    width: 425px;
    position: absolute;
    bottom:210px;
    left:0;
    right:0;
    margin:auto; 
    transform: rotateZ(0deg);
    background-image: url("../img/screen/circle-bar-balance.png");
    background-position: center;
    background-size: contain;
    transition: all .7s ease-out;
}
.circle{width:130px; height:130px; border-radius: 65px; display: block; position: absolute; top:-51px; transform: rotateZ(0deg); transition: all .7s ease-out;}
.circle:before{
    content: attr(percentage)"%";
    font-size: 32px;
    color: #878787;
    padding-bottom: 32px;
    position: absolute;
    top: -88px;
    left: 0px; right:0;
    background-size: 32px auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-left: 10px;
    text-align: center;
}
.circle:after{
    background-color:#FFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    line-height: 50px;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 40px;
}
#circleA{left:-65px;}
#circleA:before{
    background-image:url("../img/screen/pin-cyano.png");    
}
#circleA:after{
    content: "A"; 
    color: #007fb6;
}
#circleB{right:-65px;}
#circleB:before{
    background-image:url("../img/screen/pin-yellow.png");   
}
#circleB:after{
    content: "B"; 
    color: #fbb90b;
}
/*********IPAD STYLE **************************/


/********SCREEN QUESTION ************/
.screenQuestionStandard header{
    display: table;
    width: 100%;
    min-height: 200px;
    max-width: 1600px;
    margin:0 auto 50px;
}
.screenQuestionStandard header .box-question-standard{width: 60%; float:right; padding-left: 20px;}
.screenQuestionStandard header .box-question-standard p{font-size: 44px; line-height: 55px;}
.box-question{    
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    text-align: left;
    max-width: 1000px;
    margin: auto;
    top: 65px;
    padding-left: 320px;
    font-size: 30px;
    text-transform: uppercase;
}

.screen-question-box{padding:15px; min-height: 287px;}
.screen-question-box .title{font-size:20px; margin:0 0 15px;}
.screen-question-box ol{counter-reset: element; list-style: none; margin-top:20px;}
.screen-question-box li{counter-increment: element; margin-bottom: 30px; min-height: 55px; width:100%; display: table;}
.screen-question-box li:before{
    color: #01468e; 
    content: counter(element); 
    position: absolute;
    left: 0; 
    font-size: 30px; 
    line-height: 34px;
    border: 4px solid #01468e;
    font-family: "Avenir"; 
    font-weight: 900;
    background-color: #FFF;
    width: 34px;
    text-align: center;
}
.screen-question-box li.correct:before{   
}
li.correct .bar{
    background-color: green;
}
.screen-question-box li.correct p{}
#answerScreenContainer{max-width: 1600px; margin: 10px auto 0;}
.textAnswerScreenContainer{width:40%; min-height: 80px; display: table; float:left;}
.textAnswerScreenContainer p{
    counter-increment: li; 
    margin-bottom: 15px; 
    padding-left: 76px; 
    padding-right: 15px; 
    font-size: 26px; 
    padding-top: 2px; 
    display: table-cell; 
    vertical-align: top;
    line-height: 1.3;
}
.barAnswerScreenContainer{width: 60%; float:left; position: relative;}
.bar{
    position: absolute;
    background-color: #007fb6;
    height:65px;
    min-width: 3px;
}
.bar-external{height:65px;}
.percentageContainer{
    position: absolute;
    right: 15px;
    width: 60px;
    font-size: 26px;
    top:14px;
}

#messageScreenContainer, .screen_question_container{
    margin-top:230px;
    max-width:1600px;
    margin-left:auto;
    margin-right:auto;
}
.screen_question_container{
    display: table;
    min-height: 450px;
    margin-top: 200px;
}
#messageScreenContainer .tweet, .screen-question-text{
    font-size: 54px;
    text-align: center;
    font-weight: 500;
}
.screen-question-text{
    display: table-cell;
    vertical-align: middle;
}