body {
	background:#F7F4E9 url(body.png) repeat-x top center;
}
small {
	color:#888
}
th,#navigation,.active, input[type=submit],.pagination a:hover,.date td a:hover {
	background:#434A48;
	color:#fff
}
input[type=submit]:hover{
	background:#94B52C;
	color:#fff;
}
select, textarea, input, td, #content, #foot {
	background:#fff url(gradient.png) repeat-x 0 -28px
}
tr {
	background-position:0 -18px;
}
#content {
	background-position:0 1px;
}
.active, th, #head, #navigation a, input[type=submit] {
	color:#fff;
}
input, select, textarea {
	border-color:#ddd;
}
h1,h2,h3,h4,h5,h6 {
	border-color:#ddd
}
a {
	color:#888
}
a.edit {
	background-image:url(edit.png);
	background-image:url(../images/table/table_icon_1.gif);
	background-position:0px -24px;
		vertical-align:middle;
	
}
a.delete {
	background-image:url(../images/table/table_icon_2.gif);
	background-position:0px -24px;
		vertical-align:middle;
}
a.invia {
	background-image:url(trash.png);
	background-image:url(../images/table/table_icon_5.gif);
	background-position:0px -24px;
		vertical-align:middle;
}
#head {
	background:#313230;
}

#navigation a:hover {
	/*background:#383E3C*/
		background:#94B52C;
}
#navigation .active {
	/*background:#687370;*/
	background:#94B52C;
}

.box,.box > .utils {
	background:#fff;
	border-color:#eee;
}
.box > h2 {
	background:url(box-h2.png) repeat-x bottom center #fff;
}

.errorr,.info,.error a,.success a,.info a, history {
	color:#fff;
}
.error {
	background: url("../images/table/message_red.gif") no-repeat scroll left top transparent;
	/*background:#D63921*/
	color:#ce2700;
}
.success {
/*	background:#6da827;*/
	background: url("../images/table/message_green.gif") no-repeat scroll left top transparent;
	color:#6da827;
}
.glow-sortable-dropindicator {
	background:#eee
}

.domanda{margin-left:20px;line-height: 30px;font-weight:bold;}
li{list-style-type:none;line-height:20px;}
.votazione, .votazione a{font-weight:bold;text-decoration: none;font-size:0.9em;}
.totalvote{margin-top:10px;margin-left:15px;border-top: 1px solid #ccc;line-height:35px;font-weight:bold;}
