body{
	background-color:#FFF;
	margin:0px;
	padding:0px;
	width:100%;
min-heigth:100%;
	font-family:Arial, Helvetica, sans-serif;
	
	overflow:auto;
	
	}
#log{	
	position:absolute;
	top:0px;
	left:1024px;
	width:250px;   
	height:768px; 
	word-break:break-all;
	overflow-y:auto;
	font-size:16px;
	color:#FFF;
	}
#menu{
	height:98px;
	background:url(img/menuBkg.png);
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	}
.mainContainer{
	position:absolute;
	top:98px;
	
	width:640px;
	}
.menuButton{
	height:90px;
	width:109px;
display:-webkit-inline-box;
	margin:0px 4px;
	opacity:0.8;
	}
#menu_btn1{
	background:url(img/ico_twitter.png);

	}	
#menu_btn2{
	background:url(img/ico_question.png);
	}	


#menu_btn3{
	background:url(img/ico_agenda.png);
	}
	
	#menu_btn4{
	background:url(img/ico_help.png);
	}	

#questionContainer{
	
	width:100%;
	background:#d9531e url(img/footer.png) no-repeat center bottom;
	text-align:center;
	top:98px;
	min-height:100%;
	padding-bottom:200px;
	}
#questionBox{
	margin:0px auto 40px auto;
	padding:30px 90px;
	width: 460px;
   vertical-align:middle;	
   background:#fed775 url(img/bkg_question.png) no-repeat bottom;
   color:#d9531e;
   font-size:50px;
   font-weight:bold;
   font-style:italic;
	}
.answerBox{
	margin:20px auto;
	padding:10px;
	width:500px;
	text-align:left;
	vertical-align:middle;
	font-size: 40px;
	min-height: 50px;	
			line-height: 50px;	
	color: white;
	background-color: #EB922D;
	}

#btnSend{
	width:384px;
	height:78px;
	line-height:60px;
	margin:100px auto 0px auto;
	font-size:40px;
	text-align:center;
	padding-top:6px;
	background:url(img/send_bkg.png) no-repeat;
   color:#FFF;			
	}
#thankYou{
	width:384px;
	height:60px;
	line-height:60px;
	margin:300px auto;
	font-size:60px;
	text-align:center;
	font-weight:bold;
   color:#fed775;		
	}
.selected{
	color: #D9531E;

	font-weight:bold;
	 background:#fed775;
	}
	
#alert{
	width: 600px;
	height:150px;
	border:2px solid #000;
	background:#444;
	text-align:center;
	font-size:30px;
	color:#FFF;
	position:absolute;
	top:110px;
	left:16px;
	-webkit-border-radius:25px;
	line-height:140px;
	}	
	