@charset "utf-8";
/* CSS Document */

  body,html{
          position:absolute;
          width: 1024px;
          height: 768px;
          padding:0px;
          margin:0px;
          top:0px;
          left:0px;
          overflow:hidden;
          font-family: Arial, Helvetica, sans-serif;
          font-weight:bold;
          
        /*
          font-family: 'Futura-Book';   font-family: 'FuturaStd-Bold';*/
       }
   html{ background: #000 url(screenBkg.png) no-repeat ;  }
     
    #questionContainer{
        font-size: 30px;
        width: 786px;
        margin: 130px auto 0px;
        color: #FFF;
    }
    #answersContainer{
        width: 1024px;
        height: 482px;
        top: 285px;
        font-size: 25px;
        position: absolute;
    }
    .answer {
        text-align: left;
        width: 65%;
        padding: 0px 30px;
        margin:0px;
        color:#FFF;
        }
    .barContainerBorder{
        width: 100%;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border: 2px solid white;
        margin-left: -20px;
        }
    .barContainer{
        width: 100%;
        -webkit-box-shadow: inset 16px 0px 18px 0px rgba(0, 0, 0, 0.35);
        background: white;
        position: relative;
        height: 30px;
        background: white;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        line-height: 22px;
        
        z-index: -10;
        
        -webkit-transform: translateZ(0);
        -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
        }
    .bar{
        height:30px;
        background:#A00F04;
        }
    .percentContainer{
        display: inline-block;
        border: 2px solid white;
        width: 110px;
        height: 110px;
        border-radius: 100%;
        text-align: center;
        color: white;
        font-size: 33px;
        margin-left: 20px;
        -webkit-box-shadow: inset 0px 0px 26px 0px rgba(0, 0, 0, 0.70);
        background: #A00F04;
        line-height: 110px;
        }
    .progressivo{
        display: inline-block;
        border: 3px solid #FFF;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        text-align: center;
        color: #FFF;
        font-size: 27px;
        margin-left: 30px;
        line-height: 40px;
    } 
    
    .correct .progressivo,.correct .answer{ 
        color: #729022;
        border-color: #729022;
    }
    
    .correct .bar,.correct .percentContainer{ 
        background: #729022;
    }
    
    
    #puntoEsclamativo{
        position: absolute;
        width: 86px;
        height: 160px;
        top: 46px;
        left: 31px;
        background:url(puntoEsclamativo.png) no-repeat
    }
    
    
    .mask{
        position: absolute;
        width: 1024px;
        height: 768px;
        top: 0px;
        left: 0px;
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 100%); 
        overflow:hidden;
    }
    .fastestContainer{
        position: relative;
        margin: 236px auto;
        width: 639px;
        height: 208px;
        background: url(veloce.png) no-repeat;  
        
        opacity:0;
        -webkit-animation: fadein .5s 1s forwards;
    text-align: center; padding-top: 120px;}
    
    .fastest{
        
        
        
        font-size: 45px;
        color: white;
        -webkit-animation: entrata .5s 2s forwards;
        -webkit-transform: scale(20);
        opacity:0;
        position: relative;}    
        
    .fastestScore{
        position: absolute;
        top: 225px;
        right: 0px;
        font-size: 45px;
        color: white;
        -webkit-animation: daSx .3s 3s forwards;

        opacity: 0;
        
        width: 0px;}    


         #argumentContainer{
            width: 804px;
            min-height: 48px;
            background: url(header.png) bottom;
            color: white;
            text-align: center;
            line-height: 32px;
            font-size: 32px;
            position: absolute;
            top: 0px;
            left: 110px;
            clear: both;
            padding: 20px 0px;
            font-family: 'GothamBold';
        }   

        .pump{
        	-webkit-animation: entrata .5s;
        }
        
    @-webkit-keyframes entrata{
        50%{
            -webkit-transform: scale(1);
            opacity:1;  
        }
        75%{
            -webkit-transform: scale(1.5);
            opacity:1;  
        }   
        100%{
            -webkit-transform: scale(1);
            opacity:1;  
        }   
    }   
    
    
    @-webkit-keyframes daSx{
        /*50%{
            right: 130px;
            opacity:1;  
        }*/
        75%{
            right: 150px;
            opacity:1;  
        }   
        100%{
            right: 130px;
            opacity:1;  
        }   
    }   
    
    @-webkit-keyframes fadein{
        to{
            opacity:1;  
        }   
    }