@charset "utf-8";

/* CSS Document */

#menuContainer{
	position:absolute;
	width:1024px;
	height:57px;
	top:0px;
	left:0px;
	font-family: Arial Narrow, Helvetica, sans-serif;
	overflow:hidden;
}
.btnMenu_home{
	float:right;
	display:inline-block;
	height:57px;
	width: 62px;
	background-size: 192px 59px;
	background: url(../images/01_home.png) no-repeat;
	line-height: 46px;
	color:#FFF;
	font-size: 18px;
	padding: 0px 0px 0px 130px;
	position: relative;
	font-weight: bold;
}
.btnMenu{
	float:right;
	display:inline-block;
	height:57px;
	background:url(../images/02_menubtn.png) repeat-x;
	background-size:1px 57px;
	line-height: 46px;
	color:white;
	font-size: 18px;
	padding: 0px 30px;
	position:relative;
	text-transform: uppercase;
	font-weight: bold;
}    
.btnMenu::before{
	height: 54px;
	width: 14px;
	background-size: 14px 53px;
	background: url(../images/separatore.png) no-repeat;
	content: '';
	position: absolute;
	top: 0px;
	left: -7px;
}
.btnMenu::after, .btnMenu_home::after{
	height:54px;
	width:14px;
	background-size:14px 53px;
	background:url(../images/separatore.png) no-repeat;
	content:'';
	position:absolute;
	top:0px;
	right:-8px;
}
.btnMenu_home.active, .btnMenu_home:active{
	background-size: 192px 59px;
	background: url(../images/01_home_roll.png) no-repeat;
}
.btnMenu.active, .btnMenu:active{
	background-size:1px 57px;
	background: url(../images/02_menubtn_roll.png) repeat-x;
}
.active{
	color:#25458c
	}
	
/*
#content, #content *{
	-webkit-transform: translate3d(0, 0, 0); 
	-webkit-perspective: 1024;  
	-webkit-backface-visibility: hidden;
	 –webkit–overflow–scrolling: touch;
}*/
	
.loghi{
    position:absolute;
    top: 70px;
    left: 45px;
    width:255px;
    height:57px;
    background:url(../images/loghi.png) no-repeat;
    }
.logoAbilify{
    position:absolute;
    top: 65px;
    left: 734px;
    width:290px;
    height:128px;
    background:url(../images/logoAbilify.png) no-repeat;  
    }